{{ template "base" . }}

{{ define "title" }}
{{ with index .StringMap "PageTitle" }}
{{ . }}
{{ end }}
{{ end }}

{{ define "Content"  }}
    <h1>{{with index .StringMap "PageTitle"}}Andrew M McCall{{end}}</h1>
    {{ with .Data.Posts }}
    <section id="recentPosts">
        {{ range . }}
        {{ template "single-post-card" . }}
        {{ end }}
    </section>
    {{ end }}
{{ end }}
