@layer partials {

  .article-card {
    background: #1f1d2e;
    box-shadow: -6px 0 0 0 #c4a7e7,
                -12px 0 0 0 #f6c177,
                -18px 0 0 0 #eb6f92;
        margin-block-end: 1rem;
        padding-inline: 1rem;
        padding-block: 1rem;
    &__meta {
      ul {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;
        list-style-position: inside;
        gap: 0.5rem;
        li {
          &:first-of-type {
            list-style: none;
          }
        }
      }
    }
  }


} // end @layer partials
